* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ice cream div container*/
.iceCreamSundae {
    border: 2px solid darkblue;
    background: #a1ceee;
    height: 500px;
    width: 300px;
    margin: 50px auto;
    padding: 5px;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/*ice cream div scoops*/
.iceCreamScoops {
    -webkit-border-radius: 50px 50px 45px 45px;
    -moz-border-radius: 50px 50px 45px 45px;
    border-radius: 50px 50px 45px 45px;
    border-top: transparent;
    margin: 0 auto;
    position: relative;
    bottom: -40px;
}


/* glass div container border */
.glassContainer {
    /*border: 2px solid black;*/
    height: 60%;
    width: 200px;
    margin: 0 auto;
    background: black;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}
/* glass container */
.glass {
    /*border: 1px solid black;*/
    height: 100%;
    /*width: 200px;*/
    margin: 0 auto;
    padding: 0 50px;
    background: #a1ceee;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}
.glass .iceCreamScoops {
    height: 33.3%;
    position: relative;
}

.iceCreamSundae > .iceCreamScoops {
    width: 100px;
    height: 100px;
    /*z-index: 10;*/
}

/*last scoop div*/
#last {
    bottom: 20px;
    border: 2px solid purple;
    background-color: hotpink;
    z-index: -1;
}
#last > div {
    border-bottom: 2px solid purple;
    background-color: hotpink;
}
#last div:first-of-type {
    border-left: 2px solid purple;
}
#last div:last-of-type {
    border-right: 2px solid purple;
}

/*fourth scoop div*/
#fourth {
    /*margin-bottom: -30px;*/
    bottom: 0;
    border: 2px solid orange;
    background-color: yellow;
}
#fourth > div {
    border-bottom: 2px solid orange;
    background-color: yellow;
}
#fourth div:first-of-type {
    border-left: 2px solid orange;
}
#fourth div:last-of-type {
    border-right: 2px solid orange;
}

/*third scoop div*/
#third {
    /*margin-bottom: -30px;*/
    bottom: -20px;
    border: 2px solid green;
    background-color: lightgreen;
    z-index: 1;
}
#third > div {
    border-bottom: 2px solid green;
    background-color: lightgreen;
}
#third div:first-of-type {
    border-left: 2px solid green;
}
#third div:last-of-type {
    border-right: 2px solid green;
}


/*second scoop div*/
#second {
    /*margin-bottom: -30px;*/
    border: 2px solid darkred;
    background-color: indianred;
}
#second > div {
    border-bottom: 2px solid darkred;
    background-color: indianred;
}
#second div:first-of-type {
    border-left: 2px solid darkred;
}
#second div:last-of-type {
    border-right: 2px solid darkred;
}

/*first scoop div*/
#first {
    margin-bottom: -30px;
    border: 2px solid blue;
    background-color: blueviolet;
    /*z-index: 11;*/
}
#first > div {
    border-bottom: 2px solid blue;
    background-color: blueviolet;
}
#first div:first-of-type {
    border-left: 2px solid blue;
}
#first div:last-of-type {
    border-right: 2px solid blue;
}



/* ice cream drops */
.bla1, .bla2, .bla3, .bla4 {
    width: 20px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
}
.bla1 {
    height: 30px;
    left: 0;
    bottom: -8px;
}
.bla2 {
    height: 25px;
    left: 23px;
    bottom: -15px;
}
.bla3 {
    height: 40px;
    left: 50px;
    bottom: -20px;
}
.bla4 {
    height: 30px;
    right: 0;
    bottom: -8px;
}






.whippedCream {
    position: absolute;
    left: 90px;
    /*z-index: 13;*/
}
.layer {
    /*border: 2px solid whitesmoke;*/
    background-color: white;
    margin: 0 auto;
    border-radius: 100px 100px 40px 40px;
    -webkit-box-shadow: inset 7px 2px 10px 2px lightgrey;
    -moz-box-shadow: inset 7px 2px 10px 2px lightgrey;
    box-shadow: inset 7px 2px 10px 2px lightgrey;
}
.layer.f {
    width: 105px;
    height: 10px;
    border-radius: 30% 30% 100% 100%;
}
.layer.e {
    width: 110px;
    height: 15px;
    margin: 0 auto;

}
.layer.d {
    width: 90px;
    height: 15px;
}
.layer.c {
    width: 70px;
    height: 15px;
}
.layer.b {
    width: 50px;
    height: 10px;
}
.layer.a {
    width: 35px;
    height: 10px;
}
.layer.thetop {
    width: 25px;
    height: 15px;
    margin: 0 45px;
    border-radius: 50px 50px 10px 10px;
}

.cherryBox1 {
    position: absolute;
    right: 43%;
    /*z-index: 14*/
}
.cherryBox2 {
    position: absolute;
    left: 34%;
    top: 8%;
    /*z-index: 15;*/
}
.cherryBox3 {
    position: absolute;
    right: 34%;
    top: 10%;
    /*z-index: 16;*/
}
.cherry {
    width: 20px;
    height: 20px;
    -webkit-box-shadow: inset 1px 1px 10px 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 1px 1px 10px 2px rgba(0,0,0,.5);
    box-shadow: inset 1px 1px 10px 2px rgba(0,0,0,.5);
    background-color: red;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transform: rotate(20deg);
}
.mid {
    width: 50%;
    height: 45%;
    margin: 2px auto;
    border-radius: 50px;
    -ms-filter: blur(1px);
    filter: blur(1px);
    -webkit-box-shadow: inset 0 0 20px 8px #9c1818bf;
    -moz-box-shadow: inset 0 0 20px 8px #9c1818bf;
    box-shadow: inset 0 0 20px 8px #9c1818bf;
}
.stem {
    position: absolute;
    bottom: 78%;
    right: 40%;
    margin: auto;
    height: 110%;
    width: 25%;
    -webkit-box-shadow: inset -2px 0 0 0 darkgreen;
    -moz-box-shadow: inset -2px 0 0 0 darkgreen;
    box-shadow: inset -2px 0 0 0 darkgreen;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /*z-index: 17;*/
}
.cherryBox2 > .cherry {
    transform: rotate(-50deg);
}